# Railcraft 12.1.1 reads this registry while deserializing advancement criteria.
public net.minecraft.tileentity.TileEntity field_190562_f # REGISTRY
# Railcraft wraps this backing list while loading persisted train data.
public net.minecraft.nbt.NBTTagList field_74747_a # tagList
